body, html{
  height: 100%;
}

.title_1 {
  font-size: 3em;
  color: #fff;
}

.landing_page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 100px;
  height: 100vh;
}

.left_text {
  display: flex;
  justify-content: baseline;
  flex-direction: column;
  text-align: center;
}

.profile_image {
  display: flex;
  justify-content: flex-end;
}