body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.name {
  text-align: center;
  color: #fff;
  font-size: clamp(1rem, 20vw, 7rem);
  animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.button-home {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}

.typewritter {
  animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}