header {
  background: #333333;
  padding: 20px;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 2px 4px rgb(0 0 0 / 8%);
  position: fixed;
  z-index: 9999;
}
/* nav */
nav ul {
  display: flex;
}
nav a {
  text-transform: capitalize;
  margin-right: 30px;
  color: #FAFAFA;
}
.header .word {
  display: inline-block;
  padding: 0 5px;
}

.header .word:hover {
  background-color: #e1dbdb; /* Darken background color on hover */
}