.p-singlePage {
  padding: 100px 0;
  background: #0a101e;
  display: flex;
  margin-left: 200px;
  margin-right: 200px;
  width: calc(100% - 400px);
  margin: 0 auto;
}

.p-singlePage .buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.p-singlePage .left {
  margin-top: 30px;
}

.p-singlePage .right {
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
}

.project-image {
  display: flex;
  justify-content: center;
  height: 100vh;
  border-radius: 10px;
}

.p-singlePage h1 {
  font-size: 30px;
  font-weight: 500;
}

.p-singlePage p {
  margin: 20px 0;
  font-size: 18px;
  line-height: 2;
  text-transform: capitalize;
}

.p-singlePage .button {
  border: none;
}

.p-singlePage .title {
  color: #fff;
}

.p-singlePage .text {
  color: #fff;
  text-transform: none;
}

.p-singlePage .button {
  background: #212121;
  border: 1px solid;
  border-color: #212121;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  font-weight: 400;
  height: 50px;
  line-height: 1;
  padding: 10px 25px;
}

.p-singlePage .right button {
  margin-left: 10px;
}

@media screen and (max-width: 768px) {

  .grid3,
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}