.blog {
  margin: 50px 0;
}
.blog .boxItems {
  transition: 0.5s;
}
.blog .boxItems:hover {
  box-shadow: 0 2px 4px rgb(0 0 0 / 8%);
  cursor: pointer;
  transform: translateY(-5px);
}
.blog img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 20px;
}
.blog .time-icon {
  margin-right: 5px;
  font-size: 20px;
}
.blog .share-icon {
  margin-right: 5px;
  font-size: 20px;
}
.blog .tag a {
  color: blue;
  opacity: 0.7;
}
.blog .tag {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.blog h3 {
  font-weight: 500;
}
.blog p {
  color: #999;
  font-weight: 400;
  margin: 20px 0;
  font-size: 17px;
  line-height: 25px;
}

.blog .date {
  position: absolute;
  bottom: 10px; /* Margin from the bottom of each boxItems */
  left: 20px; /* Align to the left edge of the boxItems */
  right: 20px; /* Align to the right edge of the boxItems */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-section,
.right-section {
  display: flex;
  align-items: center;
}

.time-icon,
.share-icon {
  margin-right: 5px; 
}

